@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #eddcd9;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navbar .logo span{
    color: #de5499;
}
.navbar .menu a{
    color: black;
    transition: 0.2s ease-in;
    opacity: 0.6; 
    padding-left: 20px;
}
.navbar .menu a:hover{
    color: #de5499;
    font-size: 20px;
    opacity: 1;
}
.home{
    color: #264143;
    min-height: 500px;
    font-family: 'Times New Roman', Times, serif;
}  

.home .max{
    margin: auto 0 auto 40px;
    padding-top: 200px;

}
.home .home-con .t1{
    font-size: 25px;
}

.home .home-con .t2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-con .t3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-con .t3 span{
    border-bottom: 2px solid #de5499;
    padding-bottom: 6px;
    color: #de5499;
    font-weight: 600;

}
.home .home-con .t3 span:hover{
   color: #e99f4c;
   border-bottom: 2px solid #e99f4c;
   padding-bottom: 6px;
}
.home .aboutme {
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    width: 80px;
    background-color: #de5499;
    color: rgb(7, 7, 7);
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.melog{
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    width: 80px;
    background-color: #de5499;
    color: rgb(7, 7, 7);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.melog a:hover{
    color: #e99f4c;
    line-height: 30px;
    width: 100px;  
}
.home .aboutme a:hover{
    color: #e99f4c;
    line-height: 30px;
    width: 100px;    
} 
.about-me{
    width: 100%;
    margin-bottom: 30px;
    background-color: #eddcd9;
    padding-top: 80px;
    padding-bottom: 100px;
}
 .about-me img{
     height: 500px;
     width: 430px;
     padding-right: 30px;
     border-radius:500px
     
     
 }
.am{
    text-align: center;
    background-color: #eddcd9;
    color: #264143;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}
.am img{
    grid-area: a;
}
.title{
    padding-top: 40px;
    font-size: 60px;
    color: #de5499;
    grid-area: b;
}
.am h5{
    color: #0e4e3b;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    grid-area: c;
}
.am h5 span{
    color: #de5499;
    
}

.am p{
     color: #264143;
     letter-spacing: 1px;
     line-height: 28px;
     font-size: 16px;
     margin-bottom: 80px;
     padding-top: 10px;
     grid-area: d;
 }
 
 
 .service{
    width: 100%;
    padding: 30px 0px;
    background-color: #eddcd9;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 90px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.box :hover{
    background-color:#264143;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px ;
    background: #512c3e;
    border-radius: 20px;
    margin: 15px;
}
h5{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.pra{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}


.card .buton{
    background-color: #de5499;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.pra p{
    padding-bottom: 20px;
}

   

.card .buton:hover{
    background-color: black;
    border: 1px solid #000000 ;
}

footer{
    position: relative;
    width: 100%;
    height: 70px;
    background: #101010;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
footer p{
    columns:gray;
    color: #e99f4c;
    font-size: 17px;
    width: 500px;
    text-align: center;

}
.sk {
    display: grid;
    height: 100%;
    place-items: center;
    padding: 100px;

}
.skills{
    width: 600px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 30px;
}
.skills .bar {
    margin: 20px 0;

}
.skills .bar:first-child{
    margin-top: 0px;
}
.skills .bar .info h3{
    font-weight: 500;
}
.skill .bar .info {
    margin-bottom: 5px;
}
.skills .bar .progress{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: insert 0px 1px 1px rgba(0,0,0,0.05),
                       0px 1px rgba(255,255,255,0.8);
    
}
.bar .progress span{
    height: 100%;
    width: 80%;
    position: absolute;
    background: #6665ee;
    border-radius: 10px;
    
}
.bar .python span{
    height: 100%;
    width: 20%;
    position: absolute;
    background: #6665ee;
    border-radius: 10px;
    
}
 .bar .progress span::before{
     position: absolute;
     content: "";
     height:0;
     right: 0;
     top: -10px;
     width:0;
     border: 7px solid transparent;
     border-bottom-width: 0px;
     border-right-width: 0px;
     border-top-color: #000;
    }
 .bar .progress span::after{
     position: absolute;
     content: "80%";
     right:0;
     top: -28px;
     color: white;
     font-size: 12px;
     font-weight: 500;
     background:#000 ;
     padding: 1px 8px;
     border-radius: 3px;
 }
 .bar .python span::after {
    content:"65%";
}
.bar .css span::after {
    content:"45%";
}
.progress .html span::after{
    content:"90%";
}
.progress .adobe span::after {
    content:"60%";
}
.progress .mysql span::after{
    content:"80%";
}
.progress .css span::after{
    content:"70%";
}



 





/*.sk{
    padding: 30px;
    text-align: center;
    background-color: black;
    color: #fff;
    display: grid;
    
    
}
.sk .title{
    font-size: 50px;
    color: #18d261;
    padding-bottom: 30px;
    grid-area: a;
}
.sk .left h5{
    color: #18d261;
}
.sk .left{
    text-align: justify;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-area: b;
}
.sk .right{
    grid-area: c;
}*/
.cm{
    position: relative;
    min-height: 100vh;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eddcd9;
    color: #fff;
}
.cm .title{
    max-width:800px;
    text-align: center;
}
.cm .title  h2{
    font-size: 50px;
    font-weight: 500;
    color:#de5499;
    padding-bottom: 30px;

}
.cm .title p{
    font-size: 18px;
    font-weight: 300;
    color: #264143;
}
.continfo{
    display: flex;
    flex-direction: row;}
.contac{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display : flex;
	flex-direction : column;
    
}
.contac section .continfo{
    
    min-height:40vh;
    min-width: 50vh;
    padding: 20px;
    margin: 150px;
    text-align:justify;
    position: relative;
    display: flex;
    padding: 10px 0px;
    margin-left: 0px;
    font-size: 16px;
    color: #264143;
    flex-direction:column;


 


    
}

.contac  .continfo  img{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    font-size: 22px;
    padding: 10px;
}
.contac section.continfo .text{
    display: flex;
    margin-left: 0px;
    font-size: 16px;
    color: #264143;
    flex-direction: column;
    font-weight:30 ;
    padding: 20px;
}
.contac section .continfo  .text h3{
    font-weight: 500;
    color: #264143;
}
.conform{
    width: 30%;
    padding: 40px;
    background: #fff;

}
.conform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.conform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.conform .inputBox textarea,
.conform .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.conform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.conform .inputBox input:focus~span,
.conform .inputBox input:valid~span,
.conform .inputBox textarea:focus~span,
.conform .inputBox textarea:valid~span{
    color:#e91e63 ;
    font-size: 12px;
    transform: translateY(-20px);
}
.conform .inputBox input[type="submit"]{
    width: 100px;
    background: #e91e63;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}








#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #de5499; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
@media(min-width:420px)
{
    .navbar .logo{
        padding-top: 90px;
        text-align: center;
      
    }
    
    .navbar .menu {
        padding: 16px;
        display: block;
        text-align: center;

    }
   
    
    .navbar ul li{
        font-size: larger;
        padding: 10px;
        padding-bottom: 40px;
        font-size: 30px;
        
    }
    .home{
        display: flex;
        height:100vh ;
        background: #eddcd9;
    }
    .about-me img{
        width: 100%;
    }
    .flex{
        display:grid;
        grid-template-areas: 
         "a"
         "b"
         "c"
         "d";
    }
    .sk{
        grid-template-areas: 
        "a"
        "b"
        "c";
    }
   /* .cm{
        grid-template-areas: 
        "a "
        "b"
        "c";
    }*/

}
@media(min-width:945px)
{
    .navbar{
        position: absolute;
        width: 100%;
    }
    .navbar .logo{
        padding: 30px;
        text-align: left;
    }
    .navbar .menu {
        position: absolute;
        top: 10px;
        left: 35%;
        text-align: center;
        justify-content: space-between;
    }
    .navbar ul li{
        font-size: larger;
        display: inline-block;
    }
    .home{
        background: #eddcd9 url("image/") top right no-repeat;

    }
    .about-me img{
        width: 470px
    }
    .flex{
        display:grid;
        grid-template-areas: 
         "a a  b b"
         "a a  c c"
         "a a  d d";
    }
    .sk{
        grid-template-areas: 
        "a  a"
        "b  c";
    }
    @media (max-width:991px){

    
        
    
        .cm{
            padding: 50%;
            
        }
        .contac{
            flex-direction:column ; 
        }
        .contac .continfo{
            margin-bottom: 40px;
        
        }
        .contac .continfo,
        .conform{
            width: 100%;
        }
    }

   
    

}